<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.employee.mapper.AttendanceExtendMapper">
    <resultMap id="BaseResultMap" type="cn.edu.scau.employee.entity.Attendance">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="emp_no" jdbcType="BIGINT" property="empNo"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="late" jdbcType="TINYINT" property="late"/>
        <result column="leave_early" jdbcType="TINYINT" property="leaveEarly"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, emp_no, start_time, end_time, late, leave_early
    </sql>

    <select id="selectByEmpNo" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attendence
        where emp_no = #{empNo,jdbcType=BIGINT}
    </select>

    <select id="selectByEmpNoAndMonth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attendence
        <where>
            <if test="month != null">
                and month(start_time) = #{month}
            </if>
            <if test="year != null">
                and year(start_time) = #{year}
            </if>
            <if test="empNo != null">
                and emp_no = #{empNo}
            </if>
        </where>
    </select>

    <select id="selectByEmpNoAndQuarter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attendence
        where quarter(start_time) = #{quarter}
        and year(start_time) = #{year}
        and emp_no = #{empNo}
    </select>

    <select id="selectByEmpNoAndStartTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attendence
        where date_format(start_time,'%Y-%m-%d') = #{startTime}
        and emp_no = #{empNo}
    </select>
</mapper>